.about-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 100%;
	padding-top: 100px;
	padding-left: 150px;
	padding-right: 50px;
	max-width: 1300px;
}

.about-me-section h1 {
	font-size: 50px;
	font-weight: bold;
}

.skills-cells {
	display: flex;
	flex-wrap: wrap;
}

.skills-section h1 {
	font-size: 50px;
	font-weight: 600;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 200px;
	padding: 10px 20px;
	margin: 10px;
	border: 1.5px solid var(--text-color);
	border-radius: 5px;
}

.cell img {
	width: 30px;
	height: 30px;
	object-fit: contain;
	border-radius: 2px;
}

.skills-cells .cell span {
	font-size: 18px;
}

/* media resize */

@media (max-width: 1070px) {
	.about-container {
		padding-left: 50px;
	}
}

@media (max-width: 758px) {
	.cell {
		gap: 10px;
		width: 175px;
		padding: 10px 20px;
		margin: 10px;
		border: 1.5px solid var(--text-color);
		border-radius: 5px;
	}
	
	.cell img {
		width: 20px;
		height: 20px;
		object-fit: contain;
		border-radius: 2px;
	}
	
	.skills-cells .cell span {
		font-size: 16px;
	}
}


@media (max-width: 685px) {
	.about-container {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	}
}

@media (max-width: 429px) {
	.cell {
		gap: 5px;
		width: 170px;
		padding: 10px;
		margin: 2px;
		border: 1.5px solid var(--text-color);
		border-radius: 5px;
	}
	
	.cell img {
		width: 20px;
		height: 20px;
		object-fit: contain;
		border-radius: 2px;
	}
	
	.skills-cells .cell span {
		font-size: 16px;
	}
}