.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
	height: 100vh;
	position: fixed;
	padding: 10px;
	background: var(--text-color);
}

.menu-icon {
	display: none;
}

.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	font-weight: 700;
	font-style: normal;
	line-height: 1;
	color: var(--background-color);
}

.top .firIn {
	font-size: 25px;
}

.top .lastName {
	font-size: 12px;
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
	flex-grow: 1;
}

.middle .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px; /* Space between bottom icons */
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.nav-item i {
	font-size: 24px;
	color: var(--background-color);
	transition: opacity 0.3s ease-in-out, opacity 0.3s ease-in-out,
		text-shadow 0.3s ease-in-out;
}

.nav-item span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	white-space: nowrap;
	font-size: 12px;
	transition: opacity 0.3s ease-in-out;
	color: var(--background-color);
	text-shadow: 0 0 0px var(--background-color); /* Initial glow effect */
}

.nav-item:hover i {
	transform: translateY(-10px);
	opacity: 0;
}

.nav-item:hover span {
	transform: translate(-50%, -50%);
	opacity: 1;
	top: 50%;
	text-shadow: 0 0 10px var(--background-color),
		0 0 20px var(--background-color); /* Glowing effect */
}

/* media resize */

@media (max-width: 1070px) {
	.sidebar {
		width: 100%;
		height: 50px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 25px;
	}

	.middle {
		flex-direction: row;
		gap: 25px;
		padding-right: 70px;
	}

	.nav-item {
		width: auto;
	}

	.middle .bottom {
		flex-direction: column;
	}
}

@media (max-width: 685px) {
	.menu-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
		cursor: pointer;
		position: absolute;
		right: 15px; /* Moves it to the right */
		top: 10px;
		color: var(--background-color);
	}

	.middle {
		display: none;
		position: absolute;
		flex-direction: column;
		top: 50px;
		right: 0;
		width: 100%;
		height: auto;
		background: var(--text-color);
		opacity: 0.9;
		padding: 0;
	}

	.middle.open {
		display: flex;
		height: 50vh;
	}

	.nav-item {
		display: flex;
		align-items: center;
		padding: 10px;
		text-decoration: none;
		color: var(--background-color);
		transition: background 0.3s;
	}

	/* Style for bottom links */
	.bottom {
		display: flex;
		flex-direction: column;
		padding-top: 10px;
	}
	
	.nav-item i {
		display: none; /* Hide icons */
	}

	.nav-item span {
		display: contents;
		font-size: 15px;
		color: var(--background-color);
		text-transform: uppercase;
	}
}
