.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80px;
	height: 100%;
	position: fixed;
	min-height: 500px;
	background: var(--text-color);
	padding: 15px 0;
}

.top {
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
	color: var(--background-color);
}

.middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	flex-grow: 1;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 5px 0;
	position: relative;

}

.nav-item i {
	font-size: 24px;
	color: var(--background-color);
	transition: opacity 0.3s ease-in-out, opacity 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.nav-item span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	white-space: nowrap;
	font-size: 12px;
	transition: opacity 0.3s ease-in-out;
	color: var(--background-color);
	text-shadow: 0 0 0px var(--background-color); /* Initial glow effect */
}

.nav-item:hover i {
	transform: translateY(-10px);
	opacity: 0;
}

.nav-item:hover span {
	transform: translate(-50%, -50%);
    opacity: 1;
    top: 50%;
    text-shadow: 0 0 10px var(--background-color), 0 0 20px var(--background-color); /* Glowing effect */
}


.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px; /* Space between bottom icons */
	margin-bottom: 20px; /* Extra bottom spacing */
}
